extends layouts/main.pug

//- block stylesheet
//- 	link(rel="stylesheet", href="../css/styles.css")

block title
	title Formularer | #{pageTitle}

block banner
	div.banner-container
		img(src="/img/dwayne eyes.PNG", alt="").banner-image
		p.banner-text SOMETHING RELATED TO THE COMPANY'S FORMULARS

block content
	//- remove grid-seperated class to avoid having the sidebar shown on this particular page
	main.grid-seperated
		div.main-div
			h1 Formularer
		aside.main-sidebar
			h2 Formularer Sidebar