extends layouts/main.pug

//- block stylesheet
//- 	link(rel="stylesheet", href="../css/styles.css")

block title
	title Gallerier | #{pageTitle}

block banner
	div.banner-container
		img(src="/img/dwayne eyes.PNG", alt="").banner-image
		p.banner-text SOMETHING RELATED TO THE COMPANY'S GALLERY

block content
	main
		h1 Gallerier