extends layouts/main.pug

block title
	title Forside | #{pageTitle}

block banner
	div.banner-container
		img(src="/img/eyes.PNG", alt="").banner-image
		p.banner-text SOMETHING RELATED TO THE COMPANY

//- tilføjer indhold TIL block content i main.pug filen i layouts mappen
block content
	main.grid-seperated
		div.main-div
			h1 Forside
		aside.main-sidebar
			h2 Forside Sidebar