$border: 1.5px solid black;
$padding-10px: 10px;
$padding-5px: 5px;
$margin-8px: 8px;
$smooth-border: 15px;
$margin-10px: 10px;
$margin-centered: 10px auto;
.articles-container{
    width: 100%;
    margin: $margin-10px;
    .single-article-container{
        border: $border;
        border-radius: $smooth-border;
        padding: $padding-5px;
        margin: $margin-10px;
        img{
            margin: $margin-centered;
            display: block;
            padding: $padding-5px;
            width: 100%;
            height: auto;
            max-width: 500px;
            min-width: 300px;
        }
        h1{
            text-align: center;
            border-bottom: $border;
            padding: $padding-5px;
            margin: $margin-8px;
        }
        h3{
            text-align: left;
            padding: 5px;
            border-bottom: $border;
            margin: $margin-8px;
        }
        p{
            text-align: center;
            margin: $margin-8px;
            padding: $padding-5px;
        }
    }
}