html{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight:600;
	color:white;
}


.header{
	a{
		font-size:14px;
	}
}

@media(min-width:750px){


	.header{
		a{
			font-size:20px;
		}
	}


}

.banner-text{
	color:red;
}
